@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
    --error-color: #e74c3c;
    --success-color: #2ecc71;
}

*{
    box-sizing: border-box;
}

body{
    align-items: center;
    background-color: #f9fafb;
    font-family: 'Opens Sans', sans-serif;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}


.form{
    padding: 30px 40px;
}

.form h2{
    margin: 0 0 20px;
    text-align: center;

}

.form .form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control.success input{
    border-color: var(--success-color);
}

.form-control input:focus{
    outline: 0;
    border-color:  #777;
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control small{
    color: var(--error-color);
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
}

.form-control button{
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    /* display: block; */
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
